<ul>
  <% if user_signed_in? %>
    <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign In", new_user_session_path %></li>
  <% end %>
</ul>

<h1>Movies here yes</h1>

<div id="rand-movie">
  <h2><%= @title %></h2>
  <ul>
    <li><%= @rating %></li> <li>"<%= @synopsis %>"</li>
  </ul>
  <img src=<%= @poster %> />
</div>

<div classname="api-source">API Provided by The Movie DB</div>
